
<div class="mx-auto max-w-xl p-10">
    <h1 class="text-center font-bold text-3xl"><%= @flat["name"] %></h1>
    <h6 class="text-gray-400 text-sm text-center"><%= @flat["price"] %> <%= @flat['priceCurrency'] %></h6>
</div>

<div class="mx-auto max-w-xl">
    <%= image_tag @flat["imageUrl"], alt: @flat["name"], class: "mb-2" %>
    <%= link_to 'back', root_path %>
</div>
